<form method="POST">
    <label for="sslchoice">Use ssl?:</label>
    <input type="text" id="sslchoice" name="sslchoice"><br><br>
    <label for="porc">Producer or Consumer? (Input p or c):</label>
    <input type="text" id="porc" name="porc"><br><br>
    <label for="messages">If p how many messages? (Input a #):</label>
    <input type="text" id="messages" name="messages"><br><br>
    <label for="bserver">Bootstrap Server:</label>
    <input type="text" id="bserver" name="bserver"><br><br>
    <label for="clientid">Client ID:</label>
    <input type="text" id="clientid" name="clientid"><br><br>
    <label for="topic">Topic:</label>
    <input type="text" id="topic" name="topic"><br><br>
    <label for="sprotocol">Security Protocol:</label>
    <input type="text" id="sprotocol" name="sprotocol"><br><br>
    <label for="smechanism">SASL Mechanism:</label>
    <input type="text" id="smechanism" name="smechanism"><br><br>
    <label for="suser">SASL Username:</label>
    <input type="text" id="suser" name="suser"><br><br>
    <label for="spass">SASL Password:</label>
    <input type="text" id="spass" name="spass"><br><br>
    <input type="submit" value="Submit">
</form>